<template>
    <div class="create-post">
        <div
            class="create-post__error"
            v-if="errorText"
        >
            <span>{{errorText}}</span>
        </div>
        <form @submit.stop.prevent>
            <label for="">Заголовок</label>
            <input
                v-model="title"
                type="text"
            >
            <label for="">Текст</label>
            <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                v-model="text"
            ></textarea>
            <button
                @click="submit"
                class="button-create"
            >
                Send post
            </button>
        </form>
    </div>
</template>
<script>
import client from "../api/client";
export default {

    data() {
        return {
            errorText : '',
            text: '',
            title: '',
        };
  },
  methods: {
      async submit() {
          this.errorText = '';

          const postData = {
              text: this.text,
              title: this.title
          }
          let result;
          try {
            result = await client.createPost( postData );
            this.text = '';
            this.title = '';
          }
          catch(error) {
            this.errorText = error.text;
            return;
          }

          if ( result ) {
              this.$emit('post-created')
          } else {
              this.errorText = 'Произошла ошибка';
              this.$emit('post-create-error')
          }
      }
  }
}
</script>
<style scoped>
    .create-post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create-post form {
        display: flex;
        flex-direction: column;
        width : 400px;
    }
    .button-create {
        margin-top: 20px
    }
    label {
        margin-top: 20px;
    }
</style>